body {
  margin: 0;
  padding: 0;
  background-color: #dedede;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
*{

}
.search-container {
  background: #fff;
  height: 50px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
  animation-name: fade-out;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  
}

.search-container .search-btn .fas {
  color: #5cbdbb;
  animation: pulse 2s;
}

.search-container .box {
  width: 16ch;
  animation: typing 1s steps(16), blink 0.5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 16px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.3);
    color: #484c48;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    z-index: 10;
  }
  to {
    opacity: 0;
    z-index: 100;
  }
}

.full-width {
  background-color: #e3dada;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*NAV*/

li {
  position: relative;
  color: ##040f13;
  font-family: sans-serif;
  cursor: pointer;
  transition: 0.4s all ease;
}

li:hover{
  color: #2596be;
  transition: 0.4s all ease;
}

li::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #2596be;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

li:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}



.greeting{
   display: inline-block;
   font-size: 16px;


}
.navbar {
  position: fixed;
  width: 100%;
}

nav img {
    max-width: 140px;
    height: 65  px;
}

.navbar-toggler-icon {
  background-color: #040f13;
  width: 35px;
  height: 35px;
}

li a {
  margin-top: 0.5rem ;
  font-size: 16px;
  font-weight: bolder;
  margin-right: 2rem;

}

.greeting{
    font-size: 26px;
    

}

#title {
    font-size: 2rem;
    
    font-weight: bold;
    font-family: "zilla slab";
}
span {
  color: #2596be;
}

.subtitle {
    
    font-size: 16px;
    font-weight: normal;
    
}

 #title {
  width: 21ch;
  animation: typing 2s steps(21), blink 0.5s  step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container1 .heading{
  width: 50%;
  padding-bottom: 50px;
}
.container1 .heading h3{
  font-size: 2em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container1 .heading h3 span{
  font-weight: 100;
}
.container1 .box1 {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container1 .box1 .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container1 .box1 .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

@media only screen and (max-width: 769px){
    .container1 .box1{
   flex-direction: column;
  }

.container1 .box1 .dream{
  width: 100%;
}

